Repository jenkinsci/testng-plugin-plugin, pull requests merged in 2021-11, with the labels that each got.

#61 migrate docs to GitHub
  .gitignore
  CHANGELOG.md
  README
  README.md
  docs/images/execution-order.png
  docs/images/test-graph.png
  docs/images/test-result.png
  docs/images/test-summary.png
  pom.xml
Labels: documentation

#62 Enable continuous delivery
  .github/dependabot.yml
  .github/workflows/cd.yaml
  .mvn/maven.config
  pom.xml
Labels: chore

#64 Test Java 8 and Java 11
  Jenkinsfile
  pom.xml
Labels: test

#67 [JENKINS-67098] Render summary graph with GET or POST
  src/main/java/hudson/plugins/testng/TestNGProjectAction.java
Labels: bugfix

#66 Add Darin Pope & Mark Waite as developers
  pom.xml
Labels: documentation

#68 Update Gitpod configuration
  .gitpod.yml
  .mvn/gitpod-mvn-settings.xml
Labels: chore
