Repository jenkinsci/testng-plugin-plugin, pull requests merged in 2025-03, with the labels that each got.

#350 Migrate tests to JUnit5
  src/test/java/hudson/plugins/testng/CommonUtil.java
  src/test/java/hudson/plugins/testng/PublisherTest.java
  src/test/java/hudson/plugins/testng/TestNGProjectActionTest.java
  src/test/java/hudson/plugins/testng/TestNGTestResultBuildActionTest.java
  src/test/java/hudson/plugins/testng/parser/TestParser.java
  src/test/java/hudson/plugins/testng/results/ClassResultTest.java
  src/test/java/hudson/plugins/testng/results/MethodResultTest.java
  src/test/java/hudson/plugins/testng/results/PackageResultTest.java
  src/test/java/hudson/plugins/testng/util/FormatUtilTest.java
Labels: tests

#353 Migrate to EE 9 in more places
  src/main/java/hudson/plugins/testng/TestNGProjectAction.java
  src/main/java/hudson/plugins/testng/util/GraphHelper.java
Labels: rfe

#355 Fix incorrect links in contributing guide
  CONTRIBUTING.md
Labels: documentation

#356 Fix link to issue reporting guidelines
  CONTRIBUTING.md
Labels: documentation
